body {
    margin: 0;
    font-family: Arial;
    background: url(imgs/bg1.jpg) no-repeat center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: rgba(0,0,0,0.85);
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    color: gold;
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
    border: none;
}

button {
    background: gold;
    cursor: pointer;
}

button:disabled {
    background: gray;
    cursor: not-allowed;
}

input.valid {
    border: 2px solid green;
}

input.invalid {
    border: 2px solid red;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: -5px;
}